:root {
  --primary-font-color: #1d1d1f;
  --secondary-font-color: #6e6e73;
  --primary-font-weight: 500;
  --accent-font-weight: 800;
  --background-color: #f5f5f5;
  --font-family: "Inter", sans-serif;
  --border-radius: 18px;
  --box-shadow: 4px 3px 15px rgba(0, 0, 0, 0.15);
  --onFocus-box-shadow: 4px 3px 19px rgba(0, 0, 0, 0.25);
  --primary-font-size: 15px;
  --small-font-size: 10px;
  --accent-font-size: 29px;
  --transition: all 200ms ease-in-out;
}

body {
  font-weight: var(--primary-font-weight);
  background: var(--background-color);
  font-family: var(--font-family);
}
a {
  text-decoration: none;
}

.small {
  font-size: var(--small-font-size);
  margin-left: 9px;
}

.overflow-x-auto {
  overflow-x: auto;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 2px;
}
.app-container {
  margin: 90px 150px;
}
.App .App-header {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: var(--accent-font-size);
  color: var(--primary-font-color);

  font-weight: 800;
}
.link-to-api-document {
  text-align: center;
  font-size: 10px;
  color: var(--secondary-font-color);
  margin-bottom: 60px;
}

.guide-question {
  color: var(--secondary-font-color);
  font-size: var(--primary-font-size);
  line-height: 29px;
  margin-top: 10px;
  margin-bottom: 18px;
}
.form {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-gap: 10px;
}
.search-bar:focus {
  outline: none;
  border-color: transparent;
  box-shadow: var(--onFocus-box-shadow);
}
.search-bar,
.searchButton {
  width: 100%;
  min-height: 50px;
  border-radius: var(--border-radius);
  border-width: 0;
  border-color: transparent;
  padding: 5px 15px;
  font-weight: var(--accent-font-weight);
  font-size: 24px;
  box-shadow: var(--box-shadow);
  transition: var(--transition);
}
.searchButton:hover {
  box-shadow: var(--onFocus-box-shadow);
}

.search-bar {
  color: var(--secondary-font-color);
}
.gradient-text {
  background: linear-gradient(to top, #ff8bdf 0%, #317af2 100%);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.searchButton {
  background: var(--primary-font-color);
  color: white;
}

.word {
  font-size: 40px;
  padding: 25px 0 10px 0;
  font-weight: var(--accent-font-weight);
}
.font-icon {
  color: var(--secondary-font-color);
  font-size: 19px;
  margin: 10px;
}
.phonetic {
  font-size: 30px;
}
.partOfSpeech {
  font-weight: var(--accent-font-weight);
  color: var(--secondary-font-color);
  font-size: 25px;
  text-transform: capitalize;
}
.group-content {
  margin: 25px 0;
}
.synonyms {
  font-size: var(--primary-font-size);
  color: var(--secondary-font-color);
}
.antonyms {
  font-size: var(--primary-font-size);
  color: white;
}
.widget {
  background: white;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 10px;
  margin: 10px 2px;
  margin-top: 25px;
  transition: var(--transition);
}

.small-widget,
.dark-small-widget {
  background: #fcfcfc;
  border-radius: var(--border-radius);
  padding: 6px;
  margin: 5px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  box-shadow: 4px 3px 6px rgb(0 0 0 / 11%);
  transition: var(--transition);
}
.dark-small-widget {
  background: var(--primary-font-color);
}
.widget:hover {
  box-shadow: var(--onFocus-box-shadow);
}
.meaning-content-text {
  font-size: var(--primary-font-size);
  font-weight: var(--primary-font-weight);
  margin: 1px 0;
}
.example-sentence {
  font-style: italic;
  color: var(--secondary-font-color);
  padding: 0 7px;
}
footer {
  font-size: 13px;
  margin-top: 60px;
  margin-bottom: 20px;
  color: var(--secondary-font-color);
  text-align: center;
}
footer a {
  text-decoration: none;
  font-weight: var(--accent-font-weight);
}
@media (max-width: 992px) {
  .app-container {
    margin: 40px;
  }
}
@media (max-width: 576px) {
  .app-container {
    margin: 10px;
  }
  .form {
    grid-template-columns: 1fr;
  }
  :root {
    --primary-font-size: 20px;
    --accent-font-size: 30px;
    --small-font-size: 15px;
  }
}
